.book-detail-container {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    font-family: 'UhBeeSe_hyun';
    border: 1px solid #FF6060;
}

.book-image img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.book-info {
    flex-grow: 1;
    margin-left: 30px;
}

.book-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.book-author {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.book-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.mbti {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #E26E6E;
    margin-bottom: 20px;
}