h1{
    text-align:center;
}

.mbti-question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: #FFE7EB;
    /* 이미지 배경색 */
    height: 100vh;
    padding: 20px;
}

.question-box {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px;
    width: 800px;
    height: 400px;
}

.question-box .h2 {
    font-size: 2.0em;
    color: #f77e8c;
}

.question-box p {
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 80px;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    align-items: center;

}

.option {
    width: 60px;
    height: 60px;
    border: 2px solid #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 12px;
}

/* 첫 번째 옵션 크기 */
.option:nth-child(1) {
    width: 70px;
    height: 70px;
}

/* 두 번째 옵션 크기 */
.option:nth-child(2) {
    width: 50px;
    height: 50px;
}

/* 세 번째 옵션 크기 */
.option:nth-child(3) {
    width: 40px;
    height: 40px;
}

/* 네 번째 옵션 크기 */
.option:nth-child(4) {
    width: 50px;
    height: 50px;
}

/* 다섯 번째 옵션 크기 */
.option:nth-child(5) {
    width: 70px;
    height: 70px;
}

.option.selected {
    border-color: #f77e8c;
    background-color: #f77e8c;
    color: black;
}

.option span {
    position: absolute;
    bottom: -30px;
    font-size: 12px;
    white-space: nowrap;
}

.loading-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.loading-bar p {
    font-size: 18px;
    margin-bottom: 10px;
}

.bar {
    width: 80%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    animation: load 3s ease-in-out forwards;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
}
