.result-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 중앙 정렬 */
    justify-content: center;
    /* 가로 방향 중앙 정렬 */
    text-align: left;
    background-color: white;
    width: 80%;
    /* 전체 화면의 80% 너비로 설정 */
    height: 100%;
    /* 자동으로 높이 조정 */
    padding: 50px;
    /* padding을 줄여서 더 넓어 보이도록 설정 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 800px;
    /* 최소 높이를 지정 */
    margin: 0 auto;
    margin-top: -50px;
    /* 가로 중앙에 배치 */
}

.mbti-image {
    max-width: 500px;
    margin-right: 20px;
    /* 이미지와 텍스트 사이 여백을 줌 */
    border-radius: 10px;
}

.mbti-info {
    h1, h2, h3, p{
        text-align: left;
    }
}

h3 {
    color : #000000;
    opacity: 60%;
}

.mbti-chart {
    margin-top: 30px;
}

.chart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 500px;
    justify-content: space-between;
}

.chart-bar-container {
    display: flex;
    align-items: center;
    width: 70%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    position: relative;
}

.chart-bar {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ddd;
}

.fill-left {
    background-color: #f77e8c;
    height: 100%;
    float: left; /* 왼쪽부터 채워짐 */
    border-radius: 10px 0 0 10px;
}

.fill-right {
    background-color: #f77e8c;
    height: 100%;
    float: right; /* 오른쪽부터 채워짐 */
    border-radius: 0 10px 10px 0;
}
.goHome {
    font-family: 'UhBeeSe_hyun';
    padding: 10px 20px;
    background-color: #ff6b6b; /* 메인 색상 */
    color: #ffffff;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* 음영 추가 */
    position: absolute; /* 버튼을 절대 위치로 설정 */
    bottom: 30px; /* 하단에서 30px 간격 */
    left: 50%; /* 좌측으로부터 50% */
    transform: translateX(-50%); /* 중앙 정렬 */
}

.goHome:hover {
    background-color: #ff4b4b; /* 호버 시 색상 변화 */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* 호버 시 음영 변화 */
}

.goHome:active {
    background-color: #ff3030; /* 클릭 시 색상 변화 */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); /* 클릭 시 음영 변화 */
    transform: translate(-50%, 1px); /* 살짝 눌리는 효과 */
}

