.contentTab-recommd-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe7eb;
    padding: 20px;
}
.contentTab-recommended-books{
    display: flex;
    flex-direction: row;
    margin-top: 30px;

}
.contentTab-book-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 가로에 6개 */
    gap: 16px;
    justify-items: center;
    padding: 20px 0;
}

.contentTab-book-item {
    width: 100%; /* 각 항목이 컨테이너 너비에 맞게 설정됩니다 */
    max-width: 150px; /* 개별 책 항목의 최대 너비 제한 */
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.contentTab-book-item:hover {
    transform: scale(1.05);
}

.book-item {
    min-width: 200px;
    max-width: 180px;
    text-align: center;
    flex-shrink: 0;
}

.book-cover {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    object-fit: cover;
}

.book-title {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.no-data-message {
    grid-column: 3 / span 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #555;
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
}

/* 필터 섹션 컨테이너 */
.contentTab-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

/* 셀렉트 박스 스타일 */
#mbti-select {
    background-color: #ffe7eb;
    border: 1px solid #ffb6c1;
    border-radius: 12px;
    padding: 5px 9px;
    padding-right: 10px;
    font-size: 16px;
    font-family: 'UhBeeSe_hyun';
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    margin-left: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* 화살표 아이콘 */
#mbti-select::after {
    content: "▼";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #333;
    pointer-events: none;
}

/* 옵션 스타일 */
#mbti-select option {
    background-color: #fff; /* 옵션 배경색 */
    color: #333; /* 텍스트 색상 */
    padding: 8px;
    font-size: 16px;
    font-family: 'UhBeeSe_hyun';

}

/* 옵션 목록 호버 스타일 */
#mbti-select option:hover {
    background-color: #ffd7e0; /* 선택된 옵션에 대한 호버 색상 */
}

/* 데이터 없음 메시지 중앙 정렬 */
.no-data-message {
    grid-column: 1 / -1; /* 전체 너비 차지 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #555;
    font-weight: bold;
    text-align: center;
    height: 150px; /* 메시지를 중앙에 배치할 높이 */
}
