/* 글꼴 */
/*
@font-face {
    font-family: 'UhbeeFont';
    src: url('../../public/fonts/UhBee Se_hyun.ttf') format('truetype');
}
*/
@font-face {
    font-family: 'UhBeeSe_hyun';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/UhBeeSe_hyun.eot');
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/UhBeeSe_hyun.woff') format('woff');
    font-style: normal;
}

body {
    height: 100%;
    font-family: 'UhBeeSe_hyun', sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    text-align: center;
    background-color: #FFE7EB; /* Light pink background */
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-container {
    flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
}

.NavBar {
    margin-top: auto; /* 가장 밑으로 내리기 */
}

/* Styling for the image */
.book-image {
    width: 200px;
    margin-bottom: 20px;
    align-content: space-evenly;
}

/* Title "MBTIny" styling */
.mbtiny-title {
    color: #ff6b6b;
    font-size: 48px;
    margin-bottom: 10px;
}

/* Subtitle text below the title */
.mbtiny-subtitle {
    font-size: 18px;
    margin-bottom: 40px;
}

.kakao-button img {
    width: 200px;
}

.book-imag img {
    width: 200px;
    /* margin: 20px auto; 위쪽 여백과 아래쪽 여백을 20px로 설정하고 가운데 정렬 */
    /* display: block; block 요소로 설정하여 가운데 정렬 */
}