/* Main container styling */
.recommd-main-container {
    width: 100%; 
    overflow-x: hidden;
}

.recommd-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFE7EB;
    height: 100vh;
    padding: 20px;
}

.recommended-books {
    padding: 60px;
}

.recommended-books h3{
    margin-bottom: 5px;
}

.recommended-books p{
    padding-left: 20px; /* 원하는 만큼의 들여쓰기 설정 */
    font-size: 12px; /* 적절한 크기로 폰트 조절 */
    color:rgb(242, 58, 128);
}

.book-scroll-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.book-scroll-container {
    gap: 15px;
    width: 80%; /* 가로 스크롤 영역이 전체 폭을 차지하도록 설정 */
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 20px 20px 0;
    width: calc(100% - 250px); /* Adjusted to leave space for the buttons */
}

.book-item {
    min-width: 180px;
    max-width: 180px;
    text-align: center;
    flex-shrink: 0;
    
}

.book-cover {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.book-cover:hover {
    transform: scale(1.05);
}

.book-item p {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #333;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Scroll button styling */
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
