.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFE7EB;
    border-bottom: 1.5px solid #ddd;
    position: relative;
}

.menu-button {
    position: relative;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    width: 160px;
}

.dropdown-user-menu {
    margin-right: 15px;
    margin-top: 10px;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    z-index: 1000;
}

.dropdown-user-menu li {
    padding: 5px;
    cursor: pointer;
    border-right: 1px solid #ddd;
    /* 오른쪽에 경계선 추가 */
}

.dropdown-user-menu li:last-child {
    border-right: none;
    /* 마지막 항목의 오른쪽 경계선 제거 */
}

.dropdown-user-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    border: 5px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li,
.dropdown-user-menu li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover,
.dropdown-user-menu li:hover {
    background-color: #f0f0f0;
}

.search-bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* 검색바 너비를 50%로 줄임 */
    max-width: 500px; /* 최대 너비를 설정하여 너무 길지 않도록 제한 */
    min-width: 300px; /* 최소 너비 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 전체 검색바에 그림자 적용 */
    border-radius: 8px; /* 전체 검색바에 둥근 모서리 */
    overflow: hidden; /* 둥근 모서리 안에 요소가 맞도록 설정 */
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar input {
    flex: 1;
    padding: 8px 12px; /* 패딩 조정 */
    border: none; /* 경계선 제거 */
    font-size: 14px; /* 폰트 크기를 줄임 */
    font-family: 'UhBeeSe_hyun';
    outline: none; /* 클릭 시 파란 테두리 제거 */
}

.search-bar .search-button {
    background: #FFE7EB;
    border: none; /* 경계선 제거 */
    cursor: pointer;
    padding: 8px 12px; /* 패딩 조정 */
    font-size: 16px; /* 버튼 아이콘 크기 */
    color: #555; /* 버튼 색상 변경 */
    transition: background-color 0.3s;
}

.search-bar .search-button:hover {
    background-color: #f4c4c7; /* 버튼 호버 색상 변경 */
}


.header-container.row-reverse {
    flex-direction: row-reverse;
}

.user-info {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    margin-right: 20px;
    font-weight: 500;
}

.bell-icon {
    font-size: 24px;
    cursor: pointer;
}