/* Header.css */
header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 500px;
    background-color: #ECC6C6;
    color: white;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
